adf_publish/airline-adf-develop/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "airline-adf-develop"
		},
		"AzureDataLakeStorageForDevAirline_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageForDevAirline'"
		},
		"AzureDataLakeStorageForDevAirline_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://airlinedev.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dummyPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WaitForSomeTime",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageForDevAirline')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageForDevAirline_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageForDevAirline_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AirlineDimSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageForDevAirline",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "airports.csv",
						"folderPath": "landing-zn",
						"fileSystem": "united-airlines"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "airport_id",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageForDevAirline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyFilghtsSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageForDevAirline",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "flights.csv",
						"folderPath": "landing-zn",
						"fileSystem": "united-airlines"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Carrier",
						"type": "String"
					},
					{
						"name": "OriginAirportID",
						"type": "String"
					},
					{
						"name": "DestAirportID",
						"type": "String"
					},
					{
						"name": "DepDelay",
						"type": "String"
					},
					{
						"name": "ArrDelay",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageForDevAirline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Processeddata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageForDevAirline",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "processed-data",
						"fileSystem": "united-airlines"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageForDevAirline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AirlineDataTransformation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AirlineDimSource",
								"type": "DatasetReference"
							},
							"name": "AirportDimdata"
						},
						{
							"dataset": {
								"referenceName": "DailyFilghtsSource",
								"type": "DatasetReference"
							},
							"name": "DailyFlightsData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Processeddata",
								"type": "DatasetReference"
							},
							"name": "writeProcessedData"
						}
					],
					"transformations": [
						{
							"name": "joinOnDeptAirport"
						},
						{
							"name": "DeriveDeptAirportDetails"
						},
						{
							"name": "JoinOnArrivalAirport"
						},
						{
							"name": "DeriveArrivalAirport"
						}
					],
					"scriptLines": [
						"source(output(",
						"          airport_id as string,",
						"          city as string,",
						"          state as string,",
						"          name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> AirportDimdata",
						"source(output(",
						"          Carrier as string,",
						"          OriginAirportID as string,",
						"          DestAirportID as string,",
						"          DepDelay as string,",
						"          ArrDelay as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> DailyFlightsData",
						"DailyFlightsData, AirportDimdata join(OriginAirportID == airport_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnDeptAirport",
						"joinOnDeptAirport select(mapColumn(",
						"          Carrier,",
						"          DestAirportID,",
						"          DepDelay,",
						"          ArrDelay,",
						"          Depcity = city,",
						"          Depstate = state,",
						"          Depname = name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DeriveDeptAirportDetails",
						"DeriveDeptAirportDetails, AirportDimdata join(DestAirportID == airport_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinOnArrivalAirport",
						"JoinOnArrivalAirport select(mapColumn(",
						"          Carrier,",
						"          DepDelay,",
						"          ArrDelay,",
						"          Depcity,",
						"          Depstate,",
						"          Depname,",
						"          Arrcity = city,",
						"          Arrstate = state,",
						"          Arrname = name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DeriveArrivalAirport",
						"DeriveArrivalAirport sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> writeProcessedData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AirlineDimSource')]",
				"[concat(variables('factoryId'), '/datasets/DailyFilghtsSource')]",
				"[concat(variables('factoryId'), '/datasets/Processeddata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airlinepipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FindDailyFlightsfile",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DailyFilghtsSource",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "FindDailyFlightsfile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('FindDailyFlightsfile').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "printifDoesNotExists",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "falseParam",
										"value": {
											"value": "@activity('FindDailyFlightsfile').output.exists",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "TrueParam",
										"value": {
											"value": "@activity('FindDailyFlightsfile').output.exists",
											"type": "Expression"
										}
									}
								},
								{
									"name": "DataTransaformation",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "AirlineDataTransformation",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"AirportDimdata": {},
												"DailyFlightsData": {},
												"writeProcessedData": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"falseParam": {
						"type": "Boolean"
					},
					"TrueParam": {
						"type": "Boolean"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-08T10:39:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DailyFilghtsSource')]",
				"[concat(variables('factoryId'), '/dataflows/AirlineDataTransformation')]"
			]
		}
	]
}